<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shoesshop.groupassignment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.SplashActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ProductDetailActivity" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name="com.facebook.accountkit.ui.AccountKitEmailRedirectActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/ak_login_protocol_schema" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.EditOrderDetailActivity" />
        <activity android:name=".activity.ShippingAddressActivity" />
        <activity android:name=".activity.NoteActivity" />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.OrderSuccessActivity" />
        <activity android:name=".activity.OrderHistoryActivity" />
        <activity android:name=".activity.OrderHistoryDetailActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity android:name=".activity.ContactActivity"></activity>
    </application>

</manifest>